@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,900;1,400;1,600&family=Roboto:ital,wght@0,500;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --color: #ffffff;
  --btn-color: #dc7000;
}

main {
  background: linear-gradient(180deg, #39289f 0%, #422f9c 100%);
  backdrop-filter: blur(7px);
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color);
  padding: 0px 7%;
}

.nav_items ul {
  align-items: center;
  gap: 88px;
  display: flex;
}
.nav_header {
  font-family: Poppins;
  font-size: 29px;
  font-style: normal;
  font-weight: 800;
  line-height: 153.5%; /* 44.515px */
}
.nav_items ul li a {
  color: var(--color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  width: 131.771px;
  background-color: var(--btn-color);
  align-items: center;
  color: var(--color);
}

.right_text {
  color: var(--btn-color);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 155.2%;
}

.right_text h4 {
  color: var(--color);
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 155.2%; /* 77.6px */
}

.right_text span {
  color: var(--color);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%; /* 32px */
}

.btns {
  cursor: pointer;
  outline: none;
  border: none;
  color: var(--color);
  width: 195px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 40px;
  background: linear-gradient(113deg, #fa8305 0%, #fb9e3c 100%);
}
.banner_items {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0px 7%;
  gap: 88px;
}
.let_top_image {
  position: absolute;
  top: 30%;
}

.let_top_images {
  position: absolute;
  top: 30%;
  left: 93pc;
  right: 0pc;
}
.current_right h1 {
  color: var(--color);
  font-family: Poppins;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 187.5%;
}
.currebt_buuton {
  width: 139px;
  height: 57px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.11);
  color: var(--color);
  border: none;
  outline: none;
  cursor: pointer;
}
.current_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7%;
  margin-top: 4pc;
}

.box_item {
  text-align: center;
  display: flex;
  align-items: center;
}
.box_text p {
  color: var(--color);
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 187.5%;
  margin-left: 1.5pc;
}
.box_item img {
  margin-left: 1.5pc;
}
.card_main {
  margin-top: 5pc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 7%;
}
.lorem_text {
  text-align: center;
}
.lorem_text h1 {
  margin-top: 8pc;
  color: var(--color);
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 187.5%;
}
